# Version control
.git/
.gitignore

# Admin and internal
admin/
core/
paisape-website/
scratch/
docker/
.agents/

# Artifacts & Scripts
GEMINI.md
README.md
task.md
implementation_plan.md
walkthrough.md
*.log
*.py
*.js
!build.js
!js/
paisape-website/
.tempmediaStorage/
.user_uploaded/
